spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: kroketa.system@gmail.com
    password: qtpbthtjcmvwosob
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    url: jdbc:h2:file:./data/inovasoftware
    driver-class-name: org.h2.Driver
    username: admin
    password: 1234
  jpa:
    database: h2
    database-platform: org.hibernate.dialect.H2Dialect
    generate-ddl: true
    show-sql: false
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      
server:
  port: 8080